.PrivacyPolicy{
    header {
        background-image: url("https://images.unsplash.com/photo-1585314062604-1a357de8b000?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        position: relative;
    }

    p{
        text-align: left;
        font-size: 19px;
        @media screen and (max-width:768px) {
            font-size: 15px;
            line-height: 1.6;
          }
    }
}