*, *:after, *:before {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: Abel-Regular, Arial, Helvetica, sans-serif;

}

@font-face {
    font-family: 'CormorantGaramond-SemiBoldItalic';
    src: local('CormorantGaramond-SemiBoldItalic'), url(../CormorantGaramondFonts/CormorantGaramond-SemiBoldItalic.ttf) format('truetype');
  }

  @font-face {
    font-family: 'CormorantGaramond-BoldItalic';
    src: local('CormorantGaramond-BoldItalic'), url(../CormorantGaramondFonts/CormorantGaramond-BoldItalic.ttf) format('truetype');
  }

 
 
  
  